@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@600&display=swap');

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Alegreya', serif;
  font-size: calc(16px + 2vmin);
}

.content {
  font-size: calc(8px + 2vmin);
}

.linkRow {
  padding-top: 20px;
  padding-bottom: 20px;
}

.yel {
  color: #ebc445;
}
